<div class="container-fluid">
<div class="content">
  <div id="contact">
  	<div class="row">
  		<div class="col-sm-6 col-sm-offset-3">
  			<h1>Contact Me</h1>
  			<ul>
	  			<li><a href="mailto:carlosh95@gmail.com'"><img src="img/mail.png"></a></li>
  				<li><a href="https://www.facebook.com/csoltero" target="_blank"><img src="img/fb.png"></a></li>
  				<li><a href="https://www.plus.google.com/u/0/118426138785150730888/posts" target="_blank"><img src="img/google.png"></a></li>
  				<li><a href="https://www.github.com/cxoltero"><img src="img/gh.png"></a></li>
  				<li><a href="https://www.twitter.com/cxoltero"><img src="img/twitter.png"></a></li>
  				<li><a href="https://www.linkedin.com/in/carloshdzs"><img src="img/ln.png"></a></li>
  			</ul>
  		</div>
  	</div>
</div>
</div>