<div class="section mainBody" ng-controller="MainCtrl">
<div class="content bgImage" ng-style="heroImage">
    <div class="intro not-resp">
      <div class="row welcome">
        <img ng-src="{{profilePic}}" id="profilePic"/>
        <h1 id="mainLogo">Carlos <span>Hernández</span></h1>
        <h3 id="subtitle">Full Stack Web Developer And Entrepreneaur</h3>
        <div class="icons">
          <div class="row" >
            <div ng-repeat="icon in icons">
              <img ng-src="img/icons/{{icon.name}}" alt="javascript" class="col-sm-1"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="responsive">
      <div ng-repeat="tab in tabs">
        <div class="container">
            <div class="responsiveNav">
              <h1><a href="{{tab.url}}">{{tab.name}}</a></h1>
            </div>
        </div>
      </div>
    </div>
</div>
</div>