<div class="section mainBody" ng-controller="MainCtrl">
<div class="content bgImage" ng-style="heroImage">
    <div class="intro">
    <!-- <div class="container intro-content"> -->
      <div class="row welcome">
        <!-- <div class="col-md-8 col-md-offset-2"> -->
        <img ngSrc="{{bgImage}}" id="profilePic"/>
          <h1 id="mainLogo">Carlos <span>Hernández</span></h1>
          <h3 id="subtitle">Full Stack Web Developer And Entrepreneaur</h3>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
</div>