<div class="container" ng-controller="ResumeCtrl">
    	<div id="resumeBody">
    		<div class="head">
    			<div class="row">
    				<div class="col-sm-8">
    					<h1>R. Carlos Hernandez</h1>
		    			<h2>Full Stack Web Developer & Entrepreneaur</h2>
    				</div>
    				<div class="col-sm-4">
    					<p><i class="fa fa-envelope"></i>
 carlosh95@gmail.com</p>
						<p><i class="fa fa-github"></i>
github.com/cxoltero</p>
						<p><i class="fa fa-phone"></i>
508-649-8995</p>
						<p><i class="fa fa-linkedin-square"></i>
carloshdzs</p>
    				</div>
				</div> 
    		</div>

    		<div class="resumeSection">
    			<div id="profile">
    			<div class="row">
    				<h1 class="sectionHead">Professional Profile</h1>
    				
    					<p>Creative, motivated, full stack web developer who enjoys learning new technologies and taking on new challenges. I am very interested in pursuing my career as a web developer. Switching from the service industry, I have experience in customer service and organization. My motivation is to learn something new everyday. </p>
    				</div>
    			</div>
    		</div>
    		<div class="resumeSection">
    			<div id="skills">
    				<div class="row">
    					<h1 class="sectionHead">Skills</h1>
                        <div id="bars">
                        <div class="col-sm-4 col-sm-offset1">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                Willingness to Learn
                              </div>
                            </div>

                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                HTML / CSS
                              </div>
                            </div>

                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                Javascript
                              </div>
                            </div>

                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:90%;">
                                RoR
                              </div>
                            </div>

                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                Angular
                              </div>
                            </div>

                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                Bootstrap
                              </div>
                            </div>
                        </div>
                    <div class="col-sm-4 col-sm-offset2">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            Photoshop
                          </div>
                        </div>

                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            Coffeescript
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            Handlebars
                          </div>
                        </div> <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                            Github
                          </div>
                        </div>
                         <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            PostgreSQL
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            Grunt
                          </div>
                        </div>
                    </div>
    				</div>
                    </div>
    			</div>
    		</div>
    		<div class="resumeSection">
    			<div id="education">
    				<div class="row">
    					<h1 class="sectionHead">Education</h1>
    					<div class="col-sm-4">
	    					<h4>General Assembly</h4>
							<p>Sep. 2014 - Jan. 2015</p>	
	    				</div>
    					<div class="col-sm-8">
    						<h5>Full Stack Web Development</h5>
    						<p>Twelve week intensive program focused on the latest Web Development technologies, including RoR, HTML/CSS, Javascript, Angular, Grunt, Handlebars, PostgreSQL, & JQuery.</p>
    					</div>
    				</div><hr>
    				<div class="row">
    				    <div class="col-sm-4">
    				    	<h4>Bakersfield College</h4>
							<p>Jan. 2014 - Current</p>
    				    </div>
    					<div class="col-sm-8">
    						<h5>BA Computer Science</h5>
    						<p>Bachelors degree in Computer Science, with a minor in Business Administration. Currently taking online classes.</p>
    					</div>
    				</div><hr>
    				<div class="row">
    				    <div class="col-sm-4">
    				    	<h4>Universidad De Guadalajara</h4>
							<p>Aug. 2003 - May. 2005</p>
    				    </div>
    					<div class="col-sm-8">
	    					<h5>Business Administration</h5>
    						<p>General education curriculum toward a Business Adminitration Bachelors degree.</p>
    					</div>
    				</div><hr>
    			</div>
    		</div>
    		<div class="resumeSection">
    			<div id="experience">
					<h1 class="sectionHead">Experience</h1>
					<div class="row">
    				    <div class="col-sm-4">
    				    	<h4>General Assembly</h4>
							<p>Sep. 2014 - Jan. 2015</p>
    				    </div>
    					<div class="col-sm-8">
	    					<h5>Full Stack Web Developer</h5>
    						<p>Full time immersive full stack developer boot camp. Here, I gained experience as a developer by making three main projects. In these projects I applied all the knowledge gained throughout the class. I also worked in one project among two other developers where we used git as our version control software.</p>
    					</div>
					</div><hr>

					<div class="row">
    				    <div class="col-sm-4">
    				    	<h4>Cancun Mexican Restaurant</h4>
							<p>May 2007 - Current</p>
    				    </div>
    					<div class="col-sm-8">
	    					<h5>General Manager</h5>
    						<p>Over 10 years of experience as a full time restaurant manager. In charge of point of sale systems, inventory, ordering, employee training, payroll, effective time management, rapid learning and negotiation skills.</p>
    					</div>
					</div><hr>
					
    			</div>
    		</div>
    		<div class="resumeSection">
    		<div id="interests">
					<h1 class="sectionHead">Interests</h1>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<ul>
							<li>Web Development & Design</li>
							<li>Mountain Biking</li>
							<li>Online Tutorials</li>
							<li>Gaming</li>
							<li>Technology</li>
						</ul>
					</div>
				</div>
			</div>
    		</div>

    		<div class="resumeSection">
    			<div id="references">
    				<div class="row">
    					<h1 class="sectionHead">References</h1>
    					<p>Available upon request.</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>